<% d = @drop %>


$("#drop_show").append(`<div class="drop " >
  <h3><%= d.name %></h3>
  <table class="table table-bordered" >
  <thead>
  <tr class="table-info" >
  <th>Name</th>
  <th>MSRP</th>
  <% @tier.each do |t| %>
    <th><%= t.name %></th>
  <% end %>
  <span class="add_entity" ><%= link_to "Add Entity", new_entity_path(d) %></span>
  </tr>
  </thead>
  <tbody>
  <% d.entities.each do |e| %>
    <tr>
      <td><%= e.name %></td>
      <td><%= e.msrp %></td>
      <% @tier.each do |t| %>
        <td>
        
          <%= Connection.where(tier_id: t.id,entity_id: e.id).first.price %>
        
        </td>
      <% end %>
    </tr>
  <% end %>

  </tbody>
  
  </table>
  </div>`)
$(".add_drop a").show()
$(".add_drop form").remove()