<style>
.drop {
  border: 2px solid black;
  margin: 4px;
}
</style>

<br><br><br><br><br>
<%= link_to 'Home', index_path %>
<h1><%= @box.name %></h1>
<div class="add_drop" >
<%= link_to "Add drop", new_drop_path(@box), remote: true %>
</div>
<% len = @tier.length %>
<div id="drop_show" >
<% @box.drops.includes([:entities]).each do |d| %>
<div class="drop card text-center" >
  <h3 ><%= d.name %></h3>
  <table class="table table-bordered" >
  <thead>
  <tr class="table-info" >
  <th>Name</th>
  <th>MSRP</th>
  <% @tier.each do |t| %>
    <th><%= t.name %></th>
  <% end %>
  <span class="add_entity" ><%= link_to "Add Entity", new_entity_path(d) %></span>
  </tr>
  </thead>
  <tbody>
  <% d.entities.each do |e| %>
    <tr>
      <td><%= e.name %></td>
      <td><%= e.msrp %></td>
      <% @tier.each do |t| %>
        <td>
        
          <%= Connection.where(tier_id: t.id,entity_id: e.id).first.price %>
        
        </td>
      <% end %>
    </tr>
  <% end %>

  </tbody>
  
  </table>
  </div>
  <br>
<% end %>
</div>