<style>
.drop {
  border: 2px solid black;
  margin: 4px;
}
</style>

<br><br><br><br><br>
<%= link_to 'Home', index_path %>
<h1><%= @box.name %></h1>
<div class="add_drop" >
<%= link_to "Add drop", new_drop_path(@box), remote: true %>
</div>
<% len = @tier.length %>
<div id="drop_show" >
<% @drops.each do |d| %>
<div class="drop card text-center" >
  <h3 ><%= d.name %></h3>
  <table class="table table-bordered" >
  <thead>
  <tr class="table-info" >
  <th>Name</th>
  <th>MSRP</th>
  <% @tier.each do |t| %>
    <th><%= t[0] %></th>
  <% end %>
  <span class="add_entity" ><%= link_to "Add Entity", new_entity_path(d) %></span>
  </tr>
  </thead>
  <tbody>
  <% @entities[d.id].each do |e| %>
    <tr>
      
      <td><%= e[1][0] %></td>
      <td><%= e[1][1] %></td>
      <% @tier.each do |t| %>
        <td>
        
          <%= (e[1][2].select{|(x,y)| x==t[1] })[0][1] %>
        
        </td>
      <% end %>
    </tr>
  <% end %>

  </tbody>
  
  </table>
  </div>
  <br>
<% end %>
</div>